* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

#Log-in {
    display: inline-block;
    float:right;
    height:100px;
}
header {
    height: 121px;
    
}


#first-id h3 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight:1;
    display:inline-block;
    float:centre;
    margin:40px;
    margin-top:80px;    
}

#first-id button {
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: #4caf50;
    font-weight: bold;
    color: honeydew;
    margin:20px;
    font-size: 20px;
    

}
#first-id {
    float:right
}

nav {
    background-color: darkgray;
}




nav #u-list {
    list-style: none;
    display:inline-flex;
    text-align: center;
}
nav #u-list   li {
    font-size: 17px;
    font-weight: bold;
    color:white;
    margin:5px;
    padding:7.5px;
    height:100%;
}


nav #u-list li a {
    color:white;
    text-decoration: none;
    height:100%;
}

#first-id button:hover {
    transition:2s;
background-color:black;
border-radius: 10px;

}

nav #u-list li :hover {
    transition:1s;
    background-color:black;

}