* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body {
    margin:0px;
}


header {
    height: 121px;
    width:100%; 
    z-index:100;
    position:relative;
    background-color: cornsilk;
    
}
header h1 {
    font-family:sans-serif;
    font-size:40px;
    margin-top:40px;
    color:gray;
    display:inline-block;
    font-weight:bold;
}


#first-id h3 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight:1;
    display:inline-block;
    letter-spacing:.3em;

}

#first-id button {
    border-radius: 10px;
    background-color: #4caf50;
    font-weight: bold;
    color: honeydew;
    font-size: 20px;
    border:none;
    float:right;
    position:relative;
    top:30px;
    right:20px;
    

}
#first-id {
    position:relative;
    top:40px;
    float:right;
    width: 1000px;
}


nav {
    
    background-color:#4caf50;
    height:60px;
    position:sticky;
    top:0;
    z-index: 10;
   }




#u-list {
    display:inline-block;
    list-style: none;
    width:100%;
}
nav #u-list li {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display:inline-block;
    line-height:60px;
    padding-left:5px;
    
}
.right {
    font-size: xx-large;
    position:relative;
    left:450px;
    padding:10px 5px; 
}




nav #u-list li a {
    display:block;
    color:white;
    text-decoration: none;
    font-family:sans-serif;
}





#u-list li   :hover {
    color:black;
    background-color: white;
}

#first-id button:hover {
    background-color: black;
    transition:1s;
}





#container {
    height:2000px;
    width:100%;
    background-color:darkgray;
    border-top:3px solid grey;
}

#nav-left {
    width:200px;
    height:100%;
    background-color: cornsilk;
    position:fixed;
    top:0;
    padding-top:181px ;
    z-index:0;
    overflow:scroll;

}

#nav-left a {
    display:block;
    font-size: large;
    font-family:sans-serif;
    padding: 5px 5px 5px 16px;
}
#nav-left h3 {
    font-family:sans-serif;
    font-size: x-large;
    padding-left:40px;
}
#nav-left a:hover {
    background-color: lightgray;
}

#nav-left a:active{
    background-color: #4CAF50;
    color: #ffffff;
}




#blog {
    height:100%;
    width:1300px;
    background-color: blueviolet;
}
